body {
  background-color: coral;
  color: royalblue;
  text-align: center;
}

p {
  border: royalblue solid 1px;
  display: inline-block;
}

span {
  background-color: royalblue;
  color: coral;
  display: block;
}

a {
  display: block;
}
