body {
  background-color: royalblue;
  color: coral;
  text-align: center;
}

div {
  border: coral solid 1px;
  display: inline-block;
  margin: 20px;
  width: 200px;
}

p {
  padding: 5px;
}
span {
  background-color: coral;
  color: royalblue;
  display: block;
}

a {
  color: coral;
  display: block;
}
